.oneSign-small {
    position: absolute;
    bottom: 0.6rem;
    padding: 0 2.85rem;
    text-align: center;
    font-size: 0.55rem
}

.twoSign-small {
    position: absolute;
    bottom: 0.6rem;
    padding: 0 2.75rem;
    text-align: center;
    font-size: 0.55rem
}

.treeSign-small {
    position: absolute;
    bottom: 0.6rem;
    padding: 0 2.55rem;
    text-align: center;
    font-size: 0.55rem
}

.mytooltip > .tooltip-inner {
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.oneSign-medium {
    position: absolute;
    bottom: 1.2rem;
    padding: 0 5.7rem;
    text-align: center;
    font-size: 1.2rem
}

.twoSign-medium {
    position: absolute;
    bottom: 1.2rem;
    padding: 0 5.7rem;
    text-align: center;
    font-size: 1.2rem
}

.treeSign-medium {
    position: absolute;
    bottom: 1.2rem;
    padding: 0 5.7rem;
    text-align: center;
    font-size: 1.2rem
}

.oneSign-extra-small {
    position: absolute;
    bottom: 1.2rem;
    padding: 0 5.7rem;
    text-align: center;
    font-size: 1.2rem
}

.twoSign-extra-small {
    position: absolute;
    bottom: 1.2rem;
    padding: 0 5.7rem;
    text-align: center;
    font-size: 1.2rem
}

.treeSign-extra-small {
    position: absolute;
    bottom: 1.2rem;
    padding: 0 5.7rem;
    text-align: center;
    font-size: 1.2rem
}